@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VR System</h1>
    <br />
    <p>Project Tilte : Video Rental System </p>
    <br />
    <p>Student Name : Ronak Dattani</p>
    <br />
    <p>Roll No : CE-180</p>
    <br />
    <p>Student ID : 17CEUOS085</p>
</div>
